@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

/* .icon {
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
} */


.container {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.banner-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.travel {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* Explore Your Travel section started */

.first-img {
    background-image: url(/Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 500px;
    background-size: cover;
    border-radius: 16px;
    background-repeat: no-repeat;
    padding-top: 50px;
    margin-bottom: 80px;

}


.explore-traveling {
    color: #FFF;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp-des {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.form {
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 32px 180px;
    display: flex;
    justify-content: center;
}

input[type=text] {
    padding: 16px;
}

.where {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.dropdown {
    height: 52px;
    width: 174px;
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.primary-btn {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;


}

/* our-popular-tour section */

.our-popular-tour {
    display: flex;
    justify-content: space-between;


}

.txt {
    height: 540px;
    width: 577px;
    margin-bottom: 24px;

}

.txt h1 {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin: 0 auto;
    margin-bottom: 24px;



}

.txt p {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;


}

.txt li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;



}


.second-img {
    width: 540px;
    height: 550px;
    margin-bottom: 50px;
}

/* Choose Your Destination section */


.chooce-des h1 {
    color: #131318;
    justify-content: center;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;

}

.chooce-des p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;


}

/* Img griding section */

.first-row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    justify-content: space-between;

}

.sec-row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    justify-content: space-between;

}

.third-row {
    display: flex;
    gap: 24px;
    margin-bottom: 100px;
    justify-content: space-between;

}


/* 3 small pack details */

.hotel {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-right: auto;
}

.hotel h1 {
    color: #131318;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.hotel p {
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.map {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.map-flex {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
}

.map h1 {
    color: #131318;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;


}

.map p {
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.price {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    align-items: center;
    margin: 50px auto;


}

.price h1 {
    color: #131318;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.price p {
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}


/* deals and discount section */



.booking-img {
    background-image: url(/Images/hoteldeal\ 1.jpeg);
    height: 500px;
    background-size: cover;
    border-radius: 16px;
    background-repeat: no-repeat;
    padding-top: 56px;
    padding-left: 450px;

    margin-bottom: 80px;
}

.bg {
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin: auto;
    padding: 24px;
}

.booking-info {
    display: flex;
    justify-content: space-around;


}

.booking-price {
    color: #FF5400;

    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.booking-img2 {
    background-image: url(/Images/hoteldeal\ 2.jpeg);
    height: 500px;
    background-size: cover;
    border-radius: 16px;
    background-repeat: no-repeat;
    padding-top: 56px;
    padding-right: 450px;

    margin-bottom: 80px;
}

.bg2 {
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin: auto;
    padding: 24px;
}




/* newsletter section */


.newsletter-container {
    display: flex;
    justify-content: space-between;
}

.news-txt {
    width: 474px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
    margin-bottom: 24px;
    padding: 10px;

}

.news-txt h1 {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin: 0 auto;
    margin-bottom: 24px;
}

.news-txt p {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;

}

.news-img {
    width: 672px;
    height: 422px;
    flex-shrink: 0;
    margin-bottom: 100px;
}



.news-form {
    width: 393px;
    height: 52px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}


/* footer section */


.footer-title {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    text-align: center;

}

.footer-name {
    color: #131318;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-travel {
    color: #FF5400;
    font-family: Mulish;
    font-size: 32;
    font-style: normal;
    font-weight: 800;
}

.footer-pera {
    text-align: center;
    justify-content: center;
    margin-bottom: 80px;

}

.social-icon {
    text-align: center;
    justify-content: center;
    margin-bottom: 200px;

}

.f-bg {
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 200px;
}